@model FrotaTaxi.Models.Cliente

@{
    ViewBag.Title = "Detalhes do Cliente";
}

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Detalhes do Cliente</h5>
                    <div class="ibox-tools">
                        <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary btn-xs">
                            <i class="fa fa-edit"></i> Editar
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="tabs-container">
                        <ul class="nav nav-tabs" role="tablist">
                            <li><a class="nav-link active" data-toggle="tab" href="#tab-1">Informações Básicas</a></li>
                            <li><a class="nav-link" data-toggle="tab" href="#tab-2">Centro de Custo</a></li>
                            <li><a class="nav-link" data-toggle="tab" href="#tab-3">Usuários Autorizados</a></li>
                        </ul>
                        <div class="tab-content">
                            <!-- Tab 1: Informações Básicas -->
                            <div role="tabpanel" id="tab-1" class="tab-pane active">
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <dl class="dl-horizontal">
                                                <dt>Nome:</dt>
                                                <dd>@Html.DisplayFor(model => model.Nome)</dd>
                                                
                                                <dt>CNPJ:</dt>
                                                <dd>@Html.DisplayFor(model => model.CNPJ)</dd>
                                                
                                                <dt>Email:</dt>
                                                <dd>@Html.DisplayFor(model => model.Email)</dd>
                                                
                                                <dt>Status:</dt>
                                                <dd>
                                                    @if (Model.Status == FrotaTaxi.Models.StatusEnum.Ativo)
                                                    {
                                                        <span class="label label-primary">Ativo</span>
                                                    }
                                                    else
                                                    {
                                                        <span class="label label-warning">Inativo</span>
                                                    }
                                                </dd>
                                            </dl>
                                        </div>
                                        
                                        <div class="col-md-6">
                                            <dl class="dl-horizontal">
                                                <dt>Logradouro:</dt>
                                                <dd>@Html.DisplayFor(model => model.Logradouro)</dd>
                                                
                                                <dt>Número:</dt>
                                                <dd>@Html.DisplayFor(model => model.Numero)</dd>
                                                
                                                <dt>Complemento:</dt>
                                                <dd>@Html.DisplayFor(model => model.Complemento)</dd>
                                                
                                                <dt>CEP:</dt>
                                                <dd>@Html.DisplayFor(model => model.CEP)</dd>
                                                
                                                <dt>Estado:</dt>
                                                <dd>@Html.DisplayFor(model => model.Estado)</dd>
                                                
                                                <dt>Cidade:</dt>
                                                <dd>@Html.DisplayFor(model => model.Cidade)</dd>
                                            </dl>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <!-- Tab 2: Centro de Custo -->
                            <div role="tabpanel" id="tab-2" class="tab-pane">
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            @if (Model.CentrosCusto != null && Model.CentrosCusto.Any())
                                            {
                                                <div class="table-responsive">
                                                    <table class="table table-striped">
                                                        <thead>
                                                            <tr>
                                                                <th>Código</th>
                                                                <th>Descrição</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            @foreach (var centroCusto in Model.CentrosCusto)
                                                            {
                                                                <tr>
                                                                    <td>@centroCusto.Codigo</td>
                                                                    <td>@centroCusto.Descricao</td>
                                                                </tr>
                                                            }
                                                        </tbody>
                                                    </table>
                                                </div>
                                            }
                                            else
                                            {
                                                <p class="text-muted">Nenhum centro de custo cadastrado.</p>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <!-- Tab 3: Usuários Autorizados -->
                            <div role="tabpanel" id="tab-3" class="tab-pane">
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            @if (Model.UsuariosAutorizados != null && Model.UsuariosAutorizados.Any())
                                            {
                                                <div class="table-responsive">
                                                    <table class="table table-striped">
                                                        <thead>
                                                            <tr>
                                                                <th>Nome</th>
                                                                <th>Funcional</th>
                                                                <th>Tipo Solicitante</th>
                                                                <th>Status</th>
                                                                <th>Telefone 1</th>
                                                                <th>Telefone 2</th>
                                                                <th>Email</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            @foreach (var usuario in Model.UsuariosAutorizados)
                                                            {
                                                                <tr>
                                                                    <td>@usuario.Nome</td>
                                                                    <td>@usuario.Funcional</td>
                                                                    <td>
                                                                        @switch (usuario.TipoSolicitante)
                                                                        {
                                                                            case FrotaTaxi.Models.TipoSolicitanteEnum.Solicitante:
                                                                                <span class="label label-info">Solicitante</span>
                                                                                break;
                                                                            case FrotaTaxi.Models.TipoSolicitanteEnum.Usuario:
                                                                                <span class="label label-warning">Usuário</span>
                                                                                break;
                                                                            case FrotaTaxi.Models.TipoSolicitanteEnum.Ambos:
                                                                                <span class="label label-success">Ambos</span>
                                                                                break;
                                                                        }
                                                                    </td>
                                                                    <td>
                                                                        @if (usuario.Status == FrotaTaxi.Models.StatusEnum.Ativo)
                                                                        {
                                                                            <span class="label label-primary">Ativo</span>
                                                                        }
                                                                        else
                                                                        {
                                                                            <span class="label label-warning">Inativo</span>
                                                                        }
                                                                    </td>
                                                                    <td>@usuario.Telefone1</td>
                                                                    <td>@usuario.Telefone2</td>
                                                                    <td>@usuario.Email</td>
                                                                </tr>
                                                            }
                                                        </tbody>
                                                    </table>
                                                </div>
                                            }
                                            else
                                            {
                                                <p class="text-muted">Nenhum usuário autorizado cadastrado.</p>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="hr-line-dashed"></div>
                    <div class="form-group">
                        <div class="col-sm-4 col-sm-offset-2">
                            <a class="btn btn-white" asp-action="Index">Voltar à Lista</a>
                            <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Editar</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
